.content {
   margin-inline: 12.5rem;
   display: flex;
   flex-direction: column;
}

.search {
   width: 100%;
   margin-bottom: 1rem;
}

.input {
   padding: 0.5rem 1.5rem;
   background: rgba(105, 105, 105, 0.1);
   border-radius: 0.25rem;
   border: 1px solid rgba(105, 105, 105, 0.25);
   color: #3a3a3a;
   transition: all 0.25s;
   width: 50%;
   font-size: 1.5rem;
}

.input:is(:focus, :active) {
   outline: none;
   background: rgba(105, 105, 105, 0.25);
}

.input::placeholder {
   color: rgb(186, 186, 186);
   font-weight: 200;
}

.heading {
   text-transform: uppercase;
   font-size: 2.25rem;
   font-weight: 200;
   margin-bottom: 1rem;
}

.thumb {
   border-radius: 0.5rem;
   transition: all 0.5s;
}

.thumb:is(:active, :hover) {
   opacity: 0.8;
}

.grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 0.5rem;
}
