.wrapper {
   display: flex;
   flex-direction: column;
   color: #000;
   padding-inline: 12.5rem;
   gap: 1rem;
}

.thumbnail {
   max-width: 15rem;
   object-fit: cover;
   border-radius: 0.5rem;
   transition: all 0.5s;
}

.hero {
   margin: 0 auto;
   object-fit: cover;
   border-radius: 1rem;
   width: 100%;
   overflow: hidden;
   transition: all 0.5s;
}

.hero:is(:hover, :active),
.thumbnail:is(:hover, :active),
.discover__thumbnail:is(:hover, :active) {
   opacity: 0.85;
}

.trending__wrapper {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
   overflow-y: scroll;
   margin-left: 12.5rem;
   background-color: inherit;
}

.heading {
   font-size: 2.25rem;
   text-transform: uppercase;
   margin-left: 12.5rem;
   background-color: inherit;
   color: #363636;
   margin-block: 0.5rem;
}

.trending__section {
   background-color: #c5c5c5;
   width: 100vw;
   margin-left: -12.5rem;
   padding-bottom: 1rem;
}

.trending__wrapper > * {
   background-color: inherit;
}

.discover__section {
   background-color: #f5f5f5;
   width: 100vw;
   margin-left: -12.5rem;
}

.discover__wrapper {
   display: flex;
   flex-direction: row;
   margin-inline: 12.5rem;
   gap: 1rem;
   background-color: inherit;
   padding-block: 1rem;
}

.discover__wrapper > * {
   background-color: inherit;
}

.discover__thumbnail {
   width: 100%;
   background-color: #f5f5f5;
   border-radius: 1rem;
}
